{{!< layout}}

<body>

<div class="aui-page-panel">
    <div class="aui-page-panel-inner">
        <section class="aui-page-panel-content">
            <div id="license-error" class="aui-message aui-message-error error">
                <p><span class="aui-icon icon-error"></span> leanGears Discovery license not valid. Please log in as an administrator or contact your administrator to install/update license</div>
        </section>
    </div>
</div>


</body>