/* add-on styles */
.intro-header h1 {
  font-size: 48px;
  line-height: 60px;
  padding-top: 20px;
}
.intro-header p.subtitle {
  font-size: 24px;
  line-height: 30px;
  padding-bottom: 20px;
}
/*.main-panel .aui-page-panel-item {
  padding: 20px 40px 20px 0;
  height: 100px;
}*/
/*.aui-page-panel-inner{
  display: table;
  min-height: 500px;
  height: 500px;

}*/

.aui-dialog2-header{
  overflow: visible;
}

.aui-dialog2-header-main{
  overflow: visible;
}

div.continueDiscovery {
  display: block;
  min-height: 300px;
  /*height: 300px;*/
}

div.discoverProductFeatures{
  display: block;
  min-height: 500px;
  /*height: 500px;*/
}
div.generateProductCanvas{
  display: block;
  min-height: 500px;
  /*height: 500px;*/
}


.ap-aui-dialog2.ap-aui-layer {
  position: relative;
  overflow: visible;

}


.envision{

  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.7);

  min-width: 3em;
  min-height : 3em;

  margin: 3em;
  padding: 1em;

  word-wrap: break-word;

  border: 1px solid rgb(200, 200, 200);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  box-shadow: 2px 5px 5px rgba(0,0,0,0.2);

}

.new-div {
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.7);


  /*float: left;*/
  min-width: 3em;
  min-height: 2em;
  max-width: 48ex;
  margin: 2em;
  padding: 1em;
  margin-left: 58%;
  position: absolute;
  transform: translateX(-12%) translateY(-60%);

  word-wrap:break-word;
  top: 55%;

  /*left: 50%;*/
  /*right: -2%;*/
  /*transform: translateX(0%) translateY(-150%);*/
  border: 1px solid rgb(200, 200, 200);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  box-shadow: 2px 5px 5px rgba(0,0,0,0.2);

}

#actor-div{

  margin-right: auto;background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.7);
  min-width: 4em;
  min-height: 3em;
  max-width: 29ex;
  margin: 1.2em;
  padding: 0.6em;
  word-break: break-all;
  text-align: center;

  border: 1px solid rgb(200, 200, 200);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  box-shadow: 2px 5px 5px rgba(0,0,0,0.2);
}

#activity-div{

  margin-right: auto;background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.7);
  min-width: 4em;
  min-height: 3em;
  max-width: 29ex;
  margin: 1.2em;
  padding: 0.6em;

  word-break: break-all;
  text-align: center;
  border: 1px solid rgb(200, 200, 200);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  box-shadow: 2px 5px 5px rgba(0,0,0,0.2);
}


#feature-div{
  margin-right: auto;background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.7);
  min-width: 4em;
  min-height: 3em;
  max-width: 29ex;
  margin: 1.2em;
  padding: 0.6em;

  word-break: break-all;
  text-align: center;
  border: 1px solid rgb(200, 200, 200);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  box-shadow: 2px 5px 5px rgba(0,0,0,0.2);
}

.tab {
  z-index: 5;
}


.node {
  cursor: pointer;
}
.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.node text {
  font: 10px sans-serif;
}
.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}




.product-canvas-td{

  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.7);

  /*float: left;*/
  min-width: 4em;
  min-height: 3em;
  max-width: 29ex;
  margin: 1.2em;
  padding: 0.6em;
  text-align: left;

  word-wrap:break-word;

  width:33%;

  margin-top: -1px;
  border: 1px solid rgb(200, 200, 200);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 2px 5px 5px rgba(0,0,0,0.2);

}


.prod-vison-statement{


  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.7);

  min-width: 3em;
  min-height: 3em;

  margin: 3em;
  padding: 1em;

  border: 1px solid rgb(200, 200, 200);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  box-shadow: 2px 5px 5px rgba(0,0,0,0.2);

}

@media print {
  .dialog-product-vision-edit-button,#main-nav, #coll-chart-nav,#clickable-label,#print-vision-button, #print-canvas-button{ display: none !important; }

}








